{% extends "layout.html" %}
{% block content %}
<article id="startpage">
	<h2>Was ist foreveralonebook?</h2>
	<p>foreveralonebook ist quasi nur ein billiger Klon vom grossen Gesichtsbuch. Allerdings halt für Leute, die keinen Bock auf Social Networking haben. Also Selfsocial Networking.</p>
	<p>Es ist allerdings auch ok, wenn man die Plattform als Notiz für die eigene Einsamkeit nutzt.</p>
	<h2>Zum Teufel, wie soll <u>das</u> gehen?</h2>
	<p>Nunja, ähm… Ganz wie immer? Du schreibst halt deinen Microblog. Allerdings kannst wirklich nur Du das alles sehen, es soll ja unsocial bleiben.</p>
	<h2>Ihr wollt keine E-Mail Adresse?</h2>
	<p>Iiiih, Kontaktaufnahme :P</p>
</article>
{% endblock %}
